{
  "scripts": [ "/pat/classicquickbar/settings/mgui_settings.lua" ],
  "module": { "weight": 0 },
  "strings": {
    "classicLabel": "Enable Classic Quickbar",
    "compactLabel": "Compact mode",
    "leftLabel": "Left-sided icons",
    "hideItemsLabel": "Click items to hide / unhide them:",
    "scungusLabel": "this is scungus :)      he HATES metagui"
  },
  "page": {
    "title": "Classic Quickbar",
    "icon": "/pat/classicquickbar/images/stardustbar.png?border=1;000;0000",
    "contents": [
      {
        "type": "scrollArea", "children": [
          [
            { "type": "checkBox", "id": "classicCheckbox" },
            { "type": "label", "expand": true, "id": "classicLabel" }
          ],
          [
            { "type": "checkBox", "id": "compactCheckbox" },
            { "type": "label", "expand": true, "id": "compactLabel" }
          ],
          [
            { "type": "checkBox", "id": "leftCheckbox" },
            { "type": "label", "expand": true, "id": "leftLabel" }
          ],
          4,
          [ 4, { "type": "label", "id": "hideItemsLabel" } ],
          {
            "type": "panel", "style": "concave", "expandMode": [ 1, 2 ], "children": [
              { "type": "layout", "id": "iconList", "mode": "vertical", "spacing": 1, "children": [ ] }
            ]
          },
          4,
          {
            "type": "panel", "style": "flat", "expandMode": [ 1, 0 ], "children": [
              { "type": "label", "id": "scungusLabel" },
              { "type": "image", "file": "/pat/classicquickbar/images/scungus.png", "scale": 0.25 }
            ]
          }
        ]
      }
    ]
  },
  "menuItemTemplate": {
    "type": "menuItem", "children": [
      { "type": "image", "size": [ 18, 18 ], "noAutoCrop": true, "id": "<id>.icon" },
      [
        [
          { "type": "image", "file": "/pat/classicquickbar/images/hidden.png", "visible": false, "id": "<id>.hidden" },
          0,
          { "type": "label", "id": "<id>.label" }
        ],
        { "type": "label", "text": "<id>", "color": "888", "id": "<id>.idLabel" }
      ],
      { "type": "button", "inline": true, "size": [ 48, 16 ], "visible": false, "id": "<id>.button" }
    ]
  }
}
