{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=111a;?scale=176;250?border=1;111a;0000?border=1;C6C4FF;0000" // 180x254
    },
    "title": {
      "type": "label",
      "position": [ 10, 239 ],
      "value": "^#C6C4FF;^shadow;Classic Quickbar Settings",
      "fontSize": 10.2
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "position": [ 167, 239 ],
      "pressedOffset": [ 0, 0 ],
      "callback": "close"
    },
    "apply": {
      "type": "button",
      "position": [ 120, 210 ],
      "caption": "Apply",
      "base": "/interface/buttonred.png?hueshift=120",
      "hover": "/interface/buttonredhover.png?hueshift=120",
      "disabledImage": "/interface/button.png",
      "disabled": true,
      "callback": "apply"
    },
    "autoDismiss": {
      "type": "button",
      "checkable": true,
      "position": [ 12, 224 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/interface/optionsmenu/checkboxnocheck.png",
      "hover": "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
      "scissoring": false,
      "caption": "Auto dismiss",
      "textAlign": "left",
      "textOffset": [ 13, 0 ],
      "callback": "toggleAutoDismiss"
    },
    "compactMode": {
      "type": "button",
      "checkable": true,
      "position": [ 12, 212 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/interface/optionsmenu/checkboxnocheck.png",
      "hover": "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
      "scissoring": false,
      "caption": "Compact mode",
      "textAlign": "left",
      "textOffset": [ 13, 0 ],
      "callback": "toggleCompact"
    },
    "leftMode": {
      "type": "button",
      "checkable": true,
      "position": [ 12, 200 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/interface/optionsmenu/checkboxnocheck.png",
      "hover": "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
      "scissoring": false,
      "caption": "Left-sided icons",
      "textAlign": "left",
      "textOffset": [ 13, 0 ],
      "callback": "toggleLeft"
    },
    "scrollAreaBg": {
      "zlevel": -10,
      "type": "image",
      "position": [ 6, 4 ],
      "file": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=111a;?scale=160;190?border=1;000f;0000" // 162x192
    },
    "scrollArea": {
      "type": "scrollArea",
      "rect": [ 7, 5, 178, 196 ],
      "children": {
        "list": {
          "type": "list",
          "scissoring": true,
          "fillDown": true,
          "schema": {
            "spacing": [ 0, -1 ],
            "memberSize": [ 160, 24 ],
            "listTemplate": {
              "button": {
                "type": "button",
                "checkable": true,
                "zlevel": -8,
                "pressedOffset": [ 0, 0 ],
                "base": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=4446;?scale=160;24",
                "hover": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=8886;?scale=160;24",
                "pressed": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=6666;?scale=160;24",
                "baseImageChecked": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=4226;?scale=160;24",
                "hoverImageChecked": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=8446;?scale=160;24",
                "pressedImageChecked": "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=6336;?scale=160;24",
                "callback": "click"
              },
              "icon": {
                "type": "image",
                "position": [ 12, 12 ],
                "maxSize": [ 20, 20 ],
                "centered": true,
                "mouseTransparent": true
              },
              "label": {
                "type": "label",
                "position": [ 26, 13 ],
                "value": "Piss Label",
                "mouseTransparent": true
              },
              "id": {
                "type": "label",
                "position": [ 26, 2 ],
                "color": "darkgray",
                "value": "Piss:Id",
                "mouseTransparent": true
              },
              "hidden": {
                "zlevel": 2,
                "type": "image",
                "position": [ 15, 15 ],
                "file": "/pat/classicquickbar/images/hidden.png",
                "visible": false,
                "mouseTransparent": true
              }
            }
          }
        }
      }
    }
  },

  "scripts": [ "/pat/classicquickbar/settings/settings.lua" ],
  "scriptWidgetCallbacks": [ "apply", "toggleCompact", "toggleLeft", "toggleAutoDismiss" ],
  "scriptDelta": 0
}
